.category {
    // padding: 5px;
    margin: 10px 0 0 90px;
    font-size: 12px;

}

.product-name {
    font-size: 32px;
    margin: 15px 0 0 90px;
    font-weight: 500;
    line-height: 48px;

}

.product-message {
    margin: 10px 0 0 100px;
    font-size: 12px;
    line-height: 18px;
}

.product-desc {
    font-family: 'Poppins';
    margin: 20px 0 0 100px;
    height: 312;
    font-size: 14px;
    overflow: auto;
    line-height: 24px;

}

.product-info {
    height: fit-content;

}

.product-code {
    font-size: 12px;
    margin: 30px 0 0 70px;

}

@media only screen and (max-width: 896px) {


    .product-name {

        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        // font-weight: 100;
    }

    .category {
        display: none;
    }

    .product-message {
        margin: 0;
        margin-bottom: 10px;
    }

    .product-desc {
        margin: 0;
    }

    .product-code {
        margin: 0;
        padding: 20px;

    }
}