
<!----------------------------  White Navbar ---------------------------- -->
<div class="container-fluid">
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid custom-navbar">
      <img class="navbar-brand"
        src="assets/image/logo.jpg"
        alt="" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-4">
          <li class="nav-item">
            <a class="nav-link">Laptops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Desktop PCs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Networking Devices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/success">Printers & Scanners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">PC Parts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">All Other Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Repairs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>